.node {
  width: 1.6vw;
  height: 1.6vw;
  flex-grow: 1;
  outline: 1px solid rgb(200, 200, 200);
  display: inline-block;
  transition: background-color 0.3s ease;
}

.node-finish {
  background-color: #e74c3c;
}

.node-start {
  background-color: #2ecc71;
}

.node-wall {
  background-color: #34495e;
}

.node-visited {
  animation: visitedAnimation 1.5s ease-out forwards;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(41, 128, 185, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(39, 174, 96, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(241, 196, 15, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: rgba(155, 89, 182, 0.75);
  }
}

.node-shortest-path {
  animation: shortestPathAnimation 1.5s ease-out forwards;
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 223, 76);
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(255, 223, 76);
  }
  100% {
    transform: scale(1);
    background-color: rgb(255, 223, 76);
  }
}
